    body {
        background-image: url("images/background.png");
        font-size: 8pt;
        font-family: Tahoma;
        margin: 0;
        padding: 0;
    }
   .footer{
       text-align: right;
       bottom: 20px;
       right: 20px;
   }

   .banner {
       background-image: url("images/bannerbg.png");
   }

    h1.title {
        text-align: center;
        font-size: 24pt;
        text-shadow: 3px 3px #999999;
    }

    .contentArea {
        width: 800px;
        margin: auto;
        overflow: hidden;
        border-color: gray;
        border-width: 4px;
        border-style: solid;
        border-radius: 20px;
    }


    .overViewAndCoverImage{
        width: 250px;
        margin-left: 10pt;
        float: right;
    }
    .overview {
        background-color: #A2B964;
        font-family: Arial;
        font-size: 8pt;
        padding-left: 2%;
    }

    dl {
        margin: 0;
    }
    dl dt {
        font-weight: bold;
    }

    dl dd {
        margin-bottom: 10pt;
    }

    .coverImage {
    }

    .ratingAndComments {
        width: 550px;
    }
    .ratingBanner {
        background-image: url("images/rbg.png");
        background-repeat: repeat-x;
        height: 83px;
    }

    .rating {
        font-size: 48pt;
        color: red;
        position: relative;
        bottom: 15px;
/*        margin-top: auto;
        margin-bottom: auto;*/
    }

    .pageInfo {
        clear: bottom;
        text-align: center;
        margin: 0;
    }

    .comments {
        overflow: hidden;
    }

    .column {
        float: left;
        width: 47%;
        margin-left: 1%;
        margin-right: 0;
    }

    .comment {
        border-radius: 10px;
        border: 2px solid gray;
        background-color: #E8DC9B;
        font-weight: bold;
        font-style: normal;
        padding: 8px;
        width: 100%;
        overflow: hidden;
    }
