h1 {
  color: #4F68C2;
}
strong {
  color: #9b870c;
}

h3 {
  color: #4F68C2;
  padding-top: 15px
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: black;
}

/* onPress link */
a:active {
  color: blue;
}

p:first-letter {
    font-family: Georgia;
     font-size: 1.2em;
 }

dt {
  color: #9b870c;
}