    body {
      background-image: url("../resources/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
   .footer{
       position: fixed;
       text-align: center;
       bottom: 20px;
       right: 20px;
   }
